*{
    box-sizing: border-box;
}
html, body{
    height: 100%;
    background: #ffe0c6;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    flex-direction: column;
}
div.row, div.head{
    display: flex;
    flex-wrap: wrap;
    border: solid 1px #a70207;
    width: 440px;
}
div.head{
    background: #a70207;
}
div.row:nth-child(odd){
    display: flex;
    flex-wrap: wrap;
    border: solid 1px #a70207;
    width: 440px;
    background: #fff7a0;
}
div.row:nth-child(even){
    display: flex;
    flex-wrap: wrap;
    border: solid 1px #a70207;
    width: 440px;
    background: #ffffff;
}
.first{
    width: 40%;
}
.odin{
    width: 20%;
}
h2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1em;
}
div.odin h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.odin p{
    text-align: center;
}
.head h2{
    color: #ffffff;
}
div.row:hover{
    opacity: 0.7;
}
